@using Microsoft.AspNetCore.Identity
@using Rail_Web.Areas.Identity.Data
@inject SignInManager<Rail_WebUser> SignInManager
@inject UserManager<Rail_WebUser> UserManager

@model resultModel

@{
    ViewData["Title"] = "Purchase";
}

@{
    List<Service> resultList = null;
    string error = Model.error;

    try
    {
        resultList = Model.resultValue;
    }
    catch
    {

    }
}
<h3>@ViewData["Title"]</h3>

@{
    if (error == "NoConn")
    {
        Context.Response.Redirect("/Home/TechnicalIssues"); //Darwin down
    }
    else if (error == "TechIssues")
    {
        Context.Response.Redirect("/Home/TechnicalIssues"); //Middleware issues
    }

    if (resultList != null)
    {
        Service chosenService = resultList[0];

        Ticket ticketDetails = Model.ticketInstance;

        <!--Different action based on user signed in or not when purchasing-->
        if (!SignInManager.IsSignedIn(User))
        {
            <h5>Thank you for booking with Trains Now.</h5>
            <p>
                We have recieved your ticket booking and have sent you an email confirming the details below. Your reference number is:
                <b>@ticketDetails.reference</b>, please keep this safe in case you need to contact us.
            </p>

            <div class="panel-group" id="displayGrouper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            Journey Information
                        </h5>
                    </div>
                    <div id="collapse1" class="panel-collapse">
                        <div class="panel-body">
                            <div class="container">
                                <row>
                                    <p class="col-xs-6">From: @chosenService.dep_name</p> <p class="col-xs-6">To: @chosenService.arr_name</p>
                                </row>
                                <row>
                                    <p class="col-xs-6">Scheduled departure time: @chosenService.dep_time.ToShortTimeString()<b style="color:black;">*</b></p> <p class="col-xs-6">Scheduled arrival time: @chosenService.arr_time.ToShortTimeString()<b style="color:black;">*</b></p>
                                </row>
                                <row>
                                    <p class="col-xs-6">Departure date: @ticketDetails.date.ToShortDateString()</p> <p class="col-xs-6">Operator: @chosenService.service_operator</p>
                                </row>
                                <p><b style="color:black;">*</b> Times stated on this reciept are liable to change.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            Ticket Information
                        </h5>
                    </div>
                    <div class="container">
                        <row>
                            <p class="col-xs-8">Reference: @ticketDetails.reference</p> <p class="col-xs-8">Ticket Type: @ticketDetails.classType</p>
                        </row>
                        <row>
                            <p class="col-xs-8">Purchased at: @ticketDetails.time on @ticketDetails.date.ToShortDateString()</p> <p class="col-xs-8">Total cost: @ticketDetails.totalCost</p>
                        </row>
                    </div>
                </div>
            </div>
        }

        else
        {
            Context.Response.Redirect("/Home/TechnicalIssues");
        }
    }

    else
    {
        Context.Response.Redirect("/Home/TechnicalIssues");
    }
}
